/* Apply PrimeReact theme variables */
body {
  background-color: var(--surface-ground);
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--surface-ground);
}
